.slick-list {
    width: 80%;
    margin: 35px auto 0;
    position: relative;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.arrow-left1,
.arrow-right1 {
    position: absolute;
    cursor: pointer;
}

.arrow-left1 {
    top: 50%;
    left: 0;
}

.arrow-right1 {
    top: 44%;
    left: 93%;
}

.dots-style {
    text-align: center;
    display: flex !important;
    justify-content: center;
    list-style: none;
    position: sticky;
    z-index: 10;
    top: 90%;
    left: 36%;
}

.dots-style button {
    background: #9b9b9b77;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin: 5px;
    outline: none;
}

.dots-style li[class="slick-active"] button {
    background: #F34B56;
}

.slide2-item{
    display: flex !important;
    padding: 10px !important;
}
.s2-i1{
    margin-right:8px !important;
}

/* last line sliders */

.last-img-line1, .last-img-line2{
    margin: 0 auto !important;
}

.last-img-line1 .slick-track{
    margin: 0 auto;
}

.last-img-line2 .slick-track{
    margin: 0 auto;
}

.last-img-line1 .draggable{
    width: 100%;
}

.last-img-line1 .slick-slide{
    margin: 0 15px;
}

.last-img-line2 .draggable{
    width: 100%;
}

.last-img-line2 .slick-slide{
    margin: 0 15px;
}

/* slider comment */

.slider2-content-yandex .slick-slide{
    display: flex;
    margin: 0 15px;
}

.slider2-content-yandex{
    margin: 0 -15px;
}

/* slide2 news */

.slide2-item-news{
    margin: 0 -15px;
}

.slide2-item-news .slick-slide{
    margin: 0 15px;
}

/* title slider */

.slider-item-rr{
    margin: 0 -15px;
}

.slider-item-rr .slick-slide{
    margin: 0 15px;
}

/* slider2 content */

.slider2-content{
    margin: 0 -15px;
}

.slider2-content .slick-slide{
    margin: 0 15px;
}



@media(max-width: 1300px) {
    .arrow-left1 {
        top: 50%;
        left: 3%;
    }

    .arrow-right1 {
        top: 44%;
        left: 90%;
    }
}

@media(max-width: 1270px){
    .slider2-content .s2-i1{
        display: none;
    }

    .slider2-content img{
        width: auto;
    }

    .slider2-content .arrow-left1{
        top: 100%;
        left: 25%;
        z-index: 100;
    }
    
    .slider2-content .arrow-right1{
        top: 95%;
        left: 68%;
        z-index: 100;
    }

    .slider2-content .dots-style{
        left: 40%;
        top: 100%;
        position:sticky;
    }

    .slider2-content-yandex .slick-slide{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slider2-content-yandex .comment-username{
        margin: 0;
    }

    .slider2-content-yandex img{
        width: auto;
        margin-top: 20px;
    }

    .estimation-stars img{
        margin: 0;
    }
}

@media (max-width: 993px) {
    .arrow-left1 {
        top: 102%;
        left: 18%;
    }

    .arrow-right1 {
        top: 94%;
        left: 69%;
    }
}

@media(max-width: 800px) {
    .slick-slide img{
        width: 100%;
    }
}

@media(max-width: 500px) {
    .last-img-line1 .slick-slide, .last-img-line2 .slick-slide{
        width: 0.5%;
    }
}